* {
  box-sizing: border-box;
}

* {
	margin:0;
	padding:0;
}

header {
	position: fixed;
	top: 0;
	height: 100px;
	clear: both;
	z-index: 1;
	width: 100%;
	overflow: hidden;
	background: #ffffff;
	margin-bottom: 20px;
}

.header2 {
	width: 90%;
	max-width: 1000px;
	margin: auto;
	overflow: hidden;
}

header .logo {
	background-color: #4aaaa5;
	height: 90px;
	position: absolute;
	bottom: 0%;
	left: 16%;
	color: #ffffff;
	border-radius: 2px;
	padding: 2px 35px 35px 35px;
	float: left;
}

header nav {
	float: right;
	line-height: 200px;
}

header nav a {
	display: inline-block;
	color: #cccccc;
	text-decoration: none;
	padding: 10px 20px;
	line-height: normal;
	font-size: 20px;
	border-radius: 3px;
	border-right: 1.5px solid #cccccc;
}

header nav a:hover {
	background: #4aaaa5;
	border-radius: 50px;
}

.header1 {
	position: fixed;
	height: 100px;
}

.header1 .logo {
	font-family: 'Merriweather', serif;
	line-height: 100px;
	font-size: 30px;
}

.header1 nav {
	line-height: 100px;
}

body {
	background-image: url("assets/images/background images/ep_naturalwhite.png");
}

.container {
   	background-color: #ffffff;
   	border-radius: 8px;
	margin-left: 305px;
	width: 870px;
	height: 680px;
    padding: 20px;
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 5px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
}

input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #ffffff;
}

.contact {
	background-color: #ffffff;
	text-align: center;
	position: absolute;
	top: 16%;
	right: 20%;
	width: 300px;
	height: 200px;
	border: 2px solid darkgray;
	border-radius: 8px;
	padding: 20px 25px;
}

.contactme {
	color: #4aaaa5;
	font-family: 'Merriweather', serif;
	font-size: 25px;
	padding-bottom: 20px;
	border-bottom: 3px solid gray;
}

.contactimages {
	float: left;
	padding: 25px 10px 10px 0px;
	padding-left: 18px;
}

.footer {
	height: 100px;
	width: 100%;
	clear: both;
	margin-top: 50px;
	background-color: #666666;
	text-align: center;
	padding: 35px;
	border-top: 8px solid #4aaaa5;
}
